.app {
  position: relative; /* 자식 요소의 위치를 상대적으로 설정하기 위해 필요 */
  width: 1000px; /* 원하는 너비로 설정 */
  margin: 0 auto; /* 가운데 정렬을 위해 좌우 마진을 auto로 설정 */
}

.app-header {
  margin-top: 50px;
}

.app-main{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.search {
  position: relative;
  display: flex;
  justify-content: center; /* 수평 가운데 정렬 */
}

.search .input {
  width: 400px;
  border: 1px solid #bbb;
  border-radius: 8px;
  padding: 10px 12px;
  font-size: 14px;
}

.category {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap; /* 버튼들이 넘치면 자동으로 다음 줄로 이동 */
  justify-content: center; /* 가운데 정렬 */
}

.category .btn {
  font-size: 11px;
  width: 100px;
  height: 40px;
  background-color: #E7E7E7;
  color: black;
  border: none;
  border-radius: 25px;
  margin: 5px;
}

.chat-list{
  margin-top: 30px;
  display:flex;
  flex-wrap: wrap; /* 요소들이 여러 줄에 걸쳐 표시되도록 함 */
  justify-content:row;
  gap:16px;
}

.chat-list .card{
  position: relative;
  display:flex;
  flex-direction:column; 
  justify-content:space-between;
  width: 270px;
  height: 150px;
  border:1px solid #ebeaec;
  border-radius:16px;
  padding:24px;
}
  
.chat-list .card .title{
  font-weight:bold;
  font-size:16px
}

.chat-list .card .date{
  font-size:12px;
  color:#b4b4b6;
}

.floating-button {
  position: fixed;
  bottom: 10%;
  right: 24%;
  z-index: 1000;
}

.floating-button button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.2);
  color: white;
  font-size:36px;
  border: none;
  outline: none;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  text-align: center;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 400px;
}

 .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

 .close:hover,
 .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.form-group {
  margin-bottom: 10px; /* 각 그룹 사이의 간격을 조절합니다. */
  display: flex;
}

.form-group label {
  display: inline-block;
  width: 100px; /* 라벨의 너비를 설정합니다. */
  text-align: right; /* 라벨을 오른쪽 정렬합니다. */
  margin-right: 10px; /* 라벨과 컨트롤 사이의 간격을 조절합니다. */
}

.form-group select,
.form-group input {
  width: 200px; /* 컨트롤의 너비를 설정합니다. (라벨의 너비 + 여백) */
  /* 필요한 스타일링을 추가합니다. */
}

.chat-room {
  display: flex;
  height: 800px;
  background-color:aliceblue;
}

.chat-room .left {  
  position: relative;
  margin-left: 2%;
  border-right: 1px solid black; /* 우측에 실선 표시 */
  width: 30%;  
}

.chat-room .right {
  position: relative;
  margin-left: 2%;
  flex: 1; /* 좌측 영역은 나머지 공간을 채움 */  
}

.chat-room .leave-button {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.chat-room .input-area {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

.chat-room .messages {
  position: absolute;
  height: 600px;
  width: 650px;
  overflow-y: auto; /* 세로 방향으로 내용이 넘치면 스크롤바 생성 */
}